#expiration-dates {
  display: flex;
  flex-direction: row;

  .opex-date {
    margin: 8px;
  }
}

#options-prices {
  display: flex;
  flex-direction: column;

  .options-row {
    display: flex;
    flex-direction: row;

    .cell {
      margin: 4px;
      width: 60px;
    }
  }
}